body{
  background-color: #ff742b;
}

  /* main{
    display: block;
    width:850px;
  }
  
  main > div{
    min-height: 100vh;
    
  } */
  
  body{
    margin: 0;
  }
  
  .container{
    box-sizing: border-box;
  }
  
  .header{
    color: white;
  }
  
  .searchHeader_search{
    display:flex;
    height: auto;
    background-color: orange;
    padding: 4px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }
  
  a{
    text-decoration: none;
  }
  
  .searchHeader_logo{
    display:flex;
    color:black;
    text-transform: capitalize;
    margin-left:5px;
    align-items: center;
    justify-content: space-between;
    flex: 1 0 180px;
    max-width: 180px;
  }
  
  .searchHeader_label{
    color:#000;
    font-size:18px;
    line-height: 1;
  }
  
  .searchHeader_container{
    width:35rem;
    border: 1px solid black;
    background-color: cornsilk;
    position: relative;
    display: inline-block;
  }
  
  .searchIcon{
    position: absolute;
    top:9px;
    left:12px;
    font-size: 24px;
    color: #ff742b;
    pointer-events: none;
  
  }
  
  .searchInput{
    border: 0;
    border-radius: 0;
    height: 45px;
    font-weight: 300;
    background-color: cornsilk;
    color: rgba(0,0,0, .75);
    padding: 16px 144px 16px 54px;
    box-shadow: none;
    width: 100%;
  }
  
  .searchHeader_setting a{
    display: flex;
    align-items: center;
    color: #000;
  }
  
  .searchFilters{
    height: 42px;
    z-index: 10;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    background-color: #f6f6ef;
  }
  
  .searchFilters_filter{
    display: flex;
    align-items: center;
  }
  
  .searchFilters_filterContainer{
    display: flex;
    align-items: center;
  }
  .searchFilters .Dropdown{
    margin: 4px;
  }
  
  .Dropdown{
    position: relative;
  }
  
  .Dropdown_label{
  
    display: flex;
    align-items: center;
    padding: 0 4px 0 8px;
    margin:0 8px 0 2px;
    border: 1px solid #c3c3c3;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    color:#5c5c5c;
    font-size: 14px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
  }
  
  .Dropdown_label svg{
    width: 14px;
    margin-left: 4px;
  }
  
  .Dropdown_list{
    right:0;
    top:120%;
    border-radius: 4px;
    border:1px solid #c3c3c3;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    white-space: nowrap;
    color:#5c5c5c;
    overflow: hidden;
  z-index:500;
  }
  
  ul{
    padding-left: 0;
    list-style-type:none;
  }
  
  .Dropdown_list::before{
    content : '';
    width:0;
    height:0;
    position: absolute;
    bottom: 100%;
    border-style: solid;
    z-index: 500;
    right: 13px;
    border-color: #c3c3c3 transparent;
    border-width: 0 8px 8px;
  }
  
  .Dropdown_list::after{
    content : '';
    width:0;
    height:0;
    position: absolute;
    bottom: 100%;
    border-style: solid;
    z-index: 500;
    right:15px;
    border-color: #fff transparent;
    border-width: 0 6px 6px;
  }
  
  .gearImg {
    font-size: 24px;
  }

  #root{
    background-color: #ff742b;

  }